{{#if tasks}}
<table class="table table-bordered table-hover table-dark">
    <thead>
        <tr>
            <th>N.</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{@index}}</td>
            <td>{{title}}</td>
            <td>{{description}}</td>
            <td>

                {{#if done}}
                <a href="/toogleDone/{{_id}}" class="btn btn-primary btn-sm mt-2">Pendiente</a>
                {{else}}
                <a href="/toogleDone/{{_id}}" class="btn btn-success btn-sm mt-2">Hecho</a>
                {{/if}}

                <a href="/delete/{{_id}}" class="btn btn-danger btn-sm mt-2">Eliminar</a>
                <a href="/edit/{{_id}}" class="btn btn-warning btn-sm mt-2">Actualizar</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="text-center text-white">
        <h1>No hay tareas aún</h1>
        <img src="/icons/icons8-calendario-94.png" alt="">
    </div>
</div>
{{/if}}