<table>
    <thead>
        <tr>
            <th>N.</th>
            <th>Título</th>
            <th>Descripción</th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
    <tr>
        <td>{{@index}}</td>
        <td>{{title}}</td>
        <td>{{description}}</td>
        <td>

        {{#if done}}
        <a href="/toogleDone/{{_id}}">Pendiente</a>
            {{else}}
        <a href="/toogleDone/{{_id}}">Hecho</a>
        {{/if}}
        
       <a href="/delete/{{_id}}">Eliminar</a>
       <a href="/edit/{{_id}}">Actualizar</a>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>



